/*
 *  Better styling for the Drupal 8 Editor tabs
 *  ---
 */

@mixin stretch($position: absolute) {
  position: $position;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

$menu-items: 9;

.admin-tabs,
.admin-tabs__toggle {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 1001;
  text-indent: -999em;
  width: 50px;
  height: 50px;
}

.admin-tabs {
  &__toggle {
    z-index: 2;
  }

  &__list {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 0;
    list-style-type: none;

    &[aria-expanded="true"] {
      .admin-tabs__item {
        opacity: 1;
        pointer-events: auto;
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

        @for $i from 1 through $menu-items {
          &:nth-child(#{$i}) {
            transition-duration: 90ms+ (100ms * $i);
            transform: translateY(-55px * $i);
          }
        }
      }
    }
  }

  &__item {
    @include stretch;
    opacity: 0;
    // pointer-events: none;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &__link {
    @include stretch;
    border-radius: 50%;
    transition: background-color 0.3s ease-out;
    box-shadow: 0 0 10px rgba(black, 0.2);

    &[href$="edit"] {
      background: #666 url("../sprites/admin-tabs.svg#edit") no-repeat center /
        25px 25px;
      &:focus,
      &:hover {
        background-color: #333;
      }
    }
    &[href$="translations"] {
      background: #666 url("../sprites/admin-tabs.svg#translate") no-repeat
        center / 25px 25px;
      &:focus,
      &:hover {
        background-color: #333;
      }
    }
    &[href$="manage-display"] {
      background: #666 url("../sprites/admin-tabs.svg#view") no-repeat center /
        25px 25px;
      &:focus,
      &:hover {
        background-color: #333;
      }
    }
    &[href$="delete"] {
      background: #666 url("../sprites/admin-tabs.svg#delete") no-repeat center /
        25px 25px;
      &:focus,
      &:hover {
        background-color: #333;
      }
    }
    &[href*="devel"] {
      background: #666 url("../sprites/admin-tabs.svg#devel") no-repeat center /
        25px 25px;
      &:focus,
      &:hover {
        background-color: #333;
      }
    }
    &[href*="revisions"] {
      background: #666 url("../sprites/admin-tabs.svg#revisions") no-repeat
        center / 25px 25px;
      &:focus,
      &:hover {
        background-color: #333;
      }
    }
    &[href*="clone"] {
      background: #666 url("../sprites/admin-tabs.svg#clone") no-repeat center /
        25px 25px;
      &:focus,
      &:hover {
        background-color: #333;
      }
    }
    &[href*="layout"] {
      background: #666 url("../sprites/admin-tabs.svg#layout") no-repeat center /
        25px 25px;
      &:focus,
      &:hover {
        background-color: #333;
      }
    }
    &::before {
      background: #333;
      content: attr(aria-label);
      color: white;
      font-size: 11px;
      padding: 6px 10px;
      position: absolute;
      right: 100%;
      top: 50%;
      line-height: 1.6;
      font-weight: bold;
      white-space: nowrap;
      z-index: 3;
      opacity: 0;
      transition: 0.3s ease-out;
      text-indent: 0;
      transform: translateY(-50%);
      margin-right: 15px;
      pointer-events: none;
    }
    &::after {
      content: "";
      border-left: solid 6px #333;
      border-top: solid 8px transparent;
      border-bottom: solid 8px transparent;
      position: absolute;
      right: 100%;
      margin-right: 10px;
      top: 50%;
      opacity: 0;
      transform: translateY(-50%);
      transition: 0.3s ease-out;
      pointer-events: none;
    }
    &:focus,
    &:hover {
      &::before {
        transform: translate(5px, -50%);
        opacity: 1;
      }
      &::after {
        transform: translate(5px, -50%);
        opacity: 1;
      }
    }
  }
}

// .menu-open {
//   position: absolute;
//   opacity: 0;
//   pointer-events: none;
// }

.admin-tabs__toggle {
  background: #0550e6 url("../sprites/admin-tabs.svg#settings") no-repeat center /
    25px 25px;
  z-index: 1;
  opacity: 1 !important;
  border: none;

  &:focus,
  &:hover {
    background-color: #080090;
  }
}
