{#
/**
 * @file
 * Theme override for a single local action link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - link: A rendered link element.
 *
 * @see template_preprocess_menu_local_action()
 */
#}
{% set link = link|merge({'#attributes':{'class':['admin-tabs__link']}}) %}
<li{{attributes.addClass(['admin-tabs__item','menu-item'])}}>{{ link }}</li>
